TextFlow {
    -fx-background-color: darkcyan;
    -fx-font-family: monospace;
}
ListView {
    -fx-background-color: lightseagreen; 
}
.text {
    //-fx-fill: indigo; 
}
.hyperlink {
	-fx-text-fill: darkred;
}